/* You can add global styles to this file, and also import other style files */
nav{
  padding: 1rem;
  background-color:#3bafda;
}
.flex-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-container-col{
  display: flex;
  flex-direction: column;
}
.project-card{
  margin-top: 2rem;
  min-width: 350px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
